<div id="menu" class="row">
  <div class="span2">
    <div class="well-black">
      <a href="#">My writings</a>
    </div>
  </div>
    <div class="span2">
    <div class="well-black">
      <a href="#">My writings</a>
    </div>
  </div>
    <div class="span2">
    <div class="well-black">
      <a href="#">My writings</a>
    </div>
  </div>
    <div class="span2">
    <div class="well-black">
      <a href="#">My writings</a>
    </div>
  </div>
    <div class="span2">
    <div class="well-black">
      <a href="#">My writings</a>
    </div>
  </div>
    <div class="span2">
    <div class="well-black">
      <a href="#">My writings</a>
    </div>
  </div>
</div>