<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% if page.title %} {{ page.title }} - {% endif %}dagingaa@github</title>
  <meta name="description" content="dagingaa @ GitHub">
  <meta name="author" content="{% if page.author %} {{ page.author }} {% endif %}">

  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="/assets/css/pygment.css">

  <link rel="stylesheet" href="/assets/css/typeplate.css">
  <link rel="stylesheet" href="/assets/css/style.css">

  <link rel="alternate" type="application/rss+xml" title="dagingaa @ github" href="http://dagingaa.github.com/atom.xml" />

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-7814313-1']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  </head>
  <body>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <main>
  <header class="main">
      <a href="/">
          <img src="/assets/img/profile.jpg" alt="This is me"/>
      </a>
      <h1 class="epsilon">Hi! I'm Dag-Inge.</h1>
  </header>
  {{ content }}
  </main> <!-- /container -->
  </body>
  </html>
